<?xml version="1.0" encoding="utf-8"?>
<!--
  This is my manifest file. Think of it as my "Identity Card" for my app.
  It tells my Android system everything it needs to know about my app
  before it even tries to run it.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--
      my 'application' section describes my app as a whole.
    -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Calculator">

        <!-- Allows my phone to back up my app's data to Google Drive -->
        <!-- Rules for how data is backed up or moved to a new phone -->
        <!-- This is my app icon that appears on my home screen -->
        <!-- This is my name of my app as seen by my user -->
        <!-- my icon used on phones that prefer circular icons -->
        <!-- Supports languages that read from right-to-left -->
        <!-- my overall visual style (theme) of my app -->

        <!--
          An 'activity' is a single screen in my app.
          Most apps start with at least one activity.
        -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Calculator">

            <!-- my name of my Kotlin file that controls this screen -->
            <!-- 'true' means other apps (like my home screen) can start this activity -->
            <!-- my title shown at my top of this specific screen -->
            <!-- my theme used specifically for this screen -->

            <!--
              my 'intent-filter' tells Android HOW this screen should be used.
            -->
            <intent-filter>
                <!-- This says: "This is my main entry point of my app" -->
                <action android:name="android.intent.action.MAIN" />

                <!-- This says: "Put an icon for this app in my phone's app list" -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>